# Ejemplo de DATABASE_URL para PostgreSQL
# Ajusta usuario, contraseña, host, puerto y base de datos según tu entorno
DATABASE_URL="postgresql://root:root@localhost:5432/development?schema=public"
PAYMENT_SERVICE_URL="http://localhost:8001"
